@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/quill/2.0.0-dev.4/quill.bubble.min.css');
@import url('https://unpkg.com/quill-better-table@1.2.8/dist/quill-better-table.css');

.ql-bubble {
	border: 1px solid #303030;
	border-radius: 8px;
}

.ant-segmented-group {
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.ql-container.ql-snow,
.ql-container.ql-bubble {
	border: 0px solid #303030;
	border-radius: 8px;
	/* overflow-y: auto;
    max-height: 1000px; */
}

.ql-toolbar.ql-snow {
	border: 0px solid #303030;
	border-radius: 8px;
}

.ql-editor p {
	margin: 12px 0 !important;
	font-family: 'Inter';
}

.ql-editor {
	line-height: 1.5 !important;
}

.ql-editor li {
	margin: 12px 0 !important;
	font-family: 'Inter';
}

.ql-editor h1,
h2,
h3,
h4,
h5 {
	font-family: 'Inter';
}

.ql-container {
	font-size: 16px !important;
}

.ql-smart-field {
	border-radius: 4px;
	background-color: rgba(0, 97, 0, 0);
}

table.quill-better-table td {
	border: 1px solid #444;
}
.ql-clipboard {
	position: fixed;
	display: none;
	left: 50%;
	top: 50%;
}

table.quill-better-table td {
	border: 1px solid #444;
}

.ql-clipboard {
	position: fixed;
	display: none;
	left: 50%;
	top: 50%;
}

[class^="placeholderClass"] {
  border-radius: 4px;
  border: 1px solid #d0e0c7;
  color: #49aa19;
  background: #eeeeee;
}

.ant-space-item:has(> #contractActionsFooter) {
	bottom: 8px;
	position: sticky;
	z-index: 1000;
  }
  
