.ql-bubble {
	border: 1px solid #303030;
	border-radius: 8px;
}

.ql-editor {
    font-size: 16px !important;
}

.ql-editor .ql-table-cell {
	font-size: 16px !important;
}

.ant-segmented-group {
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
}

.ql-editor li > .ql-ui {
    top: 0 !important;
}

.ql-container.ql-snow,
.ql-container.ql-bubble {
	border: 0px solid #303030 !important;
	border-radius: 8px;
	/* overflow-y: auto;
    max-height: 1000px; */
}

.ql-toolbar.ql-snow {
	border: 0px solid #303030;
	border-radius: 8px;
}

.ql-editor p {
	margin: 12px 0 !important;

}

.ql-editor {
	line-height: 1.5 !important;
}

.ql-editor li {
	margin: 12px 0 !important;

}


.ql-container {
	font-size: 16px !important;
}

.ql-smart-field {
	border-radius: 4px;
	background-color: rgba(0, 97, 0, 0);
}

table.quill-better-table td {
	border: 1px solid #444;
}
.ql-clipboard {
	position: fixed;
	display: none;
	left: 50%;
	top: 50%;
}

table.quill-better-table td {
	border: 1px solid #cccccc;
	background-color: #fafafa;
}

.ql-clipboard {
	position: fixed;
	display: none;
	left: 50%;
	top: 50%;
}

[class^='placeholderClass'],
[class^='dateClass'],
[class^='fullnameClass'],
[class^='emailClass'],
[class^='signClass'],
[class^='initialsClass'] {
	border-radius: 4px;
	border: 1px solid #d0e0c7;
	color: black;
	font-family: inherit !important;
}

.ant-space-item:has(> #contractActionsFooter) {
	bottom: 8px;
	position: sticky;
	z-index: 1000;
}

.qlbt-operation-menu {
	z-index: 2001 !important;
}
