.ant-segmented-group {
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
}

[class^='placeholderClass'],
[class^='dateClass'],
[class^='fullnameClass'],
[class^='emailClass'],
[class^='signClass'],
[class^='initialsClass'] {
	border-radius: 4px;
	border: 1px solid #d0e0c7;
	color: black;
}

.ant-space-item:has(> #contractActionsFooter) {
	bottom: 8px;
	position: sticky;
	z-index: 1000;
}
