.ql-bubble {
	border: 1px solid #303030;
	border-radius: 8px;
}

.ql-container.ql-snow,
.ql-container.ql-bubble {
	border: 0px solid #303030;
	border-radius: 8px;
	background-color: #000;
	/* overflow-y: auto;
    max-height: 1000px; */
}

.ql-toolbar.ql-snow {
	border: 0px solid #303030;
	border-radius: 8px;
}

.ql-editor p {
	margin: 12px 0;
	font-family: 'Inter';
}

.ql-editor {
	line-height: 1.5;
}

.ql-editor li {
	margin: 12px 0;
	font-family: 'Inter';
}

.ql-editor h1,
h2,
h3,
h4,
h5 {
	font-family: 'Inter';
}

.ql-container {
	font-size: 16px;
}

.ql-smart-field {
	border-radius: 4px;
	background-color: rgba(0, 97, 0, 0);
}

table.quill-better-table td {
	border: 1px solid #444;
}
.ql-clipboard {
	position: fixed;
	display: none;
	left: 50%;
	top: 50%;
}
body {
	background-color: #000;
}

.ant-segmented-group {
	display: inline-flex;
	flex-wrap: wrap;
	flex-direction: row;
}

:where(.css-dev-only-do-not-override-1pqzx8z).ant-carousel
	.slick-dots
	li
	button {
	background: blue !important;
	opacity: 0.6;
	height: 4px;
}

.ql-smart-field {
	border-radius: 4px;
	background-color: rgba(0, 97, 0, 0);
}

iframe#webpack-dev-server-client-overlay {
	display: none !important;
}

table.quill-better-table td {
	border: 1px solid #444;
}
.ql-clipboard {
	position: fixed;
	display: none;
	left: 50%;
	top: 50%;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
	img.mob-pad {
		display: none;
	}
}

.cl-modalContent,
.cl-userButtonPopoverCard {
	font-family: 'Inter';
}

.cl-avatarBox {
	height: 28px;
	width: 28px;
	background: linear-gradient(#000, #000) padding-box,
		linear-gradient(42deg, #000 45%, rgba(255, 255, 255, 0.6)) border-box;
	border: 1px solid transparent;
}
