.resizeComponent {
	position: absolute !important;
	z-index: 999;
	border: solid 1px #333;
	background-color: #f0f0f0;
	padding-left: 2px;
	border-radius: 4px;
	display: flex;
}
.draggableComponent {
	position: absolute;
	z-index: 999;
	border: solid 1px #333;
}

.react-pdf__Page__canvas {
	border-radius: 8px;
	border: 1px solid #eee;
}