/* .resizeComponent {
	position: absolute !important;
	z-index: 999;
	border: 1px solid #d0e0c7;
	color: #000000;
	padding-left: 2px;
	border-radius: 4px;
	display: flex;
	user-select: auto;
	box-sizing: border-box;
	cursor: move;
} */
/* .draggableComponent {
	position: absolute;
	z-index: 999;
	border: solid 1px #333;
} */

.react-pdf__Page__canvas {
	border-radius: 8px;
	border: 1px solid #eee;
}

.ph-style {
	background: #fafafa;
	border-radius: 6px;
	padding: 4px;
}
